<a href="https://colab.research.google.com/github/Edu-Moreira/Edu-Moreira/blob/main/Compara%C3%A7%C3%A3o_ETFs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
! pip install investpy

Requirement already satisfied: investpy in /usr/local/lib/python3.7/dist-packages (1.0.8)
Requirement already satisfied: pandas>=0.25.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.3.5)
Requirement already satisfied: numpy>=1.17.2 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.21.5)
Requirement already satisfied: Unidecode>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.3.4)
Requirement already satisfied: setuptools>=41.2.0 in /usr/local/lib/python3.7/dist-packages (from investpy) (57.4.0)
Requirement already satisfied: lxml>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (4.8.0)
Requirement already satisfied: pytz>=2019.3 in /usr/local/lib/python3.7/dist-packages (from investpy) (2022.1)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from investpy) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.1->investpy) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.1->investpy) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (2.10)

In [55]:
import investpy as inv
import pandas as pd 
import seaborn as sns 
import time
import matplotlib.pyplot as plt 
import datetime as dt

In [5]:
hoje = dt.date.today()
hoje = hoje.strftime('%d/%m/%Y')
print(hoje)

pais = 'united states'

tipo_etf = 'bond'

23/03/2022

In [6]:
# obtendo a lista de todos os ETFs dos Estados Unidos no Investing.com

lista_etf = inv.get_etfs_dict(pais)

In [7]:
# Para buscar informações especificas de cada ETF 
'''
for i in range(len(lista_etf)):
    if (lista_etf[i]['isin']=='US46434V6130'):
        info = lista_etf[i]['name']
'''

#Obetndo lista com o nome de todos os ETFs
nome_etf = []

for i in range(len(lista_etf)):
  if (lista_etf[i]['asset_class']== tipo_etf):
    nome_etf.append(lista_etf[i]['name'])

In [8]:
nome_etf_filtro  = []
filtro = [s for s in nome_etf if "High Yield" in s]

for i in range(len(nome_etf)):
  if(nome_etf[i] == any(filtro)):
    nome_etf.drop(nome_etf[i])

In [37]:
lista_nomes = []

r = len(nome_etf)%10
for i in range(r+1):
  lista_nomes.append(nome_etf[(i*10):((i*10)+10)])

In [54]:
range(len(lista_nomes))

range(0, 8)

In [9]:
nome_etf1 = nome_etf[:3]
nome_etf2 = nome_etf[158:]
nome_etf1

['Peritus High Yield',
 'Newfleet Multi-Sector Income',
 'AdvisorShares Sage Core Reserves']

In [10]:
str_match = [s for s in nome_etf if "High Yield" in s]
print(str_match)

['Peritus High Yield', 'iShares $ High Yield Corp Bond Acc Share Class', 'Deutsche Bank FI Enhanced Global High Yield', 'Deutsche X-trackers High Yield Corporate Bond Inte', 'Fidelity High Yield Factor', 'First Trust Tactical High Yield', 'FlexShares High Yield Value-Scored Bond Index', 'Guggenheim BulletShares 2022 High Yield Corp Bond', 'Guggenheim Invest BulletShares 2020 High Yield Cor', 'Guggenheim BulletShares 2021 High Yield Corp Bond', 'Guggenheim Invest BulletShares 2019 High Yield Cor', 'Guggenheim BulletShares 2023 High Yield Corp Bond', 'Guggenheim BulletShares 2025 High Yield Corporate', 'Invesco BulletShares 2026 High Yield Corporate Bon', 'iShares iBoxx $ High Yield Corporate Bond', 'iShares 0-5 Year High Yield Corporate Bond', 'iShares Broad USD High Yield Corporate Bond', 'iShares Emerging Markets High Yield Bond', 'iShares Global High Yield Corporate Bond', 'iShares iBonds 2021 Term High Yield and Income', 'iShares Interest Rate Hedged High Yield Bond', 'iShares iBonds 2025 Term High Yield and Income', 'iShares iBonds 2023 Term High Yield and Income', 'iShares Int High Yield Bond', 'iShares iBonds 2022 Term High Yield and Income', 'iShares iBonds 2024 Term High Yield and Income', 'PIMCO 0-5 Year High Yield Corporate Bond', 'PowerShares amental High Yield Corporate Bond Port', 'PowerShares Global Short Term High Yield Bond Port', 'ProShares Short High Yield', 'ProShares High Yield Interest Rate', 'ProShares Ultra High Yield', 'SPDR Barclays High Yield Bond', 'SPDR Barclays Short Term High Yield Bond', 'SPDR Nuveen S&P High Yield Municipal Bond', 'SPDR Portfolio High Yield Bond', 'VanEck Vectors Fallen Angel High Yield Bond', 'VanEck Emg Mkts High Yield Bd', 'VanEck Vectors International High Yield Bond', 'WisdomTree Interest Rate Hedged High Yield Bond Fd', 'WisdomTree Negative Duration High Yield Bond', 'WisdomTree Fundamental U.S. High Yield Corporate B', 'Xtrackers Low Beta High Yield Bond', 'Xtrackers High Beta High Yield Bond', 'Xtrackers Short Duration High Yield']

In [42]:
painel = pd.DataFrame()

for i in range(len(lista_nomes)):
  for j in lista_nomes[i]:
    painel[i+j] = inv.get_etf_historical_data(etf = j,country = pais, from_date = '01/01/1999',to_date = hoje)['Close']
    time.sleep(60)

,Peritus High Yield,Newfleet Multi-Sector Income,AdvisorShares Sage Core Reserves,Madrona Global Bond,Anfield Universal Fixed Income,ALPS RiverFront Strategic Income,American Century Diversified Corporate Bond,Arrow Dow Jones Global Yield,iShares iBonds Dec 2025 Term Muni Bond,iShares Inflation Hedged Corporate Bond
Date,,,,,,,,,,
2010-12-02,50.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-12-03,50.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-12-06,50.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-12-07,50.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-12-08,50.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-03-17,28.91,46.95,97.79,NaN,9.245,23.70,49.10,14.00,26.86,29.25
2022-03-18,28.91,47.15,97.90,NaN,9.270,23.73,49.07,14.22,26.89,29.28
2022-03-21,28.63,46.86,97.83,NaN,9.180,23.60,48.75,14.32,26.82,29.02
2022-03-22,28.64,46.92,97.74,NaN,9.215,23.64,48.70,14.28,26.79,28.89
2022-03-23,28.79,46.85,NaN,NaN,NaN,23.62,48.65,14.39,26.79,28.95