In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings("ignore")

In [7]:
simulacoes = pd.ExcelFile("Pesos Simulados.xlsx").sheet_names
simulacoes

['Max Sharpe 5-40',
 'Max Sharpe',
 'Min vol',
 'Min vol 5-40',
 'Vol Alvo 17',
 'Vol Alvo 17 5-40']

In [10]:
pesos = pd.read_excel("Pesos Simulados.xlsx", sheet_name= simulacoes[0],index_col=0)
pesos

,"U,S Universal",S&P 500,World ex-USA,Emerging Markets,"Global Agg, Ex-USA",S&P Small Cap 600
2019,0.40000,0.05000,0.18000,0.17000,0.15000,0.05000
2020,0.35503,0.05000,0.32757,0.05000,0.15000,0.06740
2021,0.40000,0.05000,0.18000,0.17000,0.15000,0.05000
2022,0.37776,0.23312,0.11880,0.12354,0.09678,0.05000
2023,0.40000,0.05000,0.26322,0.05000,0.15000,0.08678
2024,0.12308,0.19154,0.31538,0.17000,0.15000,0.05000

In [12]:
cotacoes = pd.ExcelFile("Base Cotacoes.xlsx").sheet_names
cotacoes

['Dados US', 'Dados BR Cupom Limpo']

In [15]:
cotacoes = pd.read_excel("Base Cotacoes.xlsx", sheet_name= cotacoes[1],index_col=0)

cotacoes

,U.S Universal,S&P 500,World ex-USA,Emerging Markets,Global Agg. Ex-USA,S&P Small Cap 600
Data,,,,,,
1998-12-31,256.348953,2018.536252,577.371816,322.771260,295.251446,224.931818
1999-01-04,256.131020,2015.239664,587.618856,326.350930,295.031601,224.764333
1999-01-05,255.966826,2043.879250,591.270710,329.186095,295.202591,224.894599
1999-01-06,256.596198,2091.498797,600.094656,336.853037,295.471290,225.099302
1999-01-07,256.188335,2088.196964,598.442854,338.592164,295.593426,225.192349
...,...,...,...,...,...,...
2024-04-01,2922.009670,57725.186132,8423.209608,8102.483678,2078.845254,9572.943576
2024-04-02,2914.739471,57228.582406,8380.242420,8145.083692,2069.627485,9395.068227
2024-04-03,2904.245513,57050.224053,8372.481236,8069.317354,2066.610533,9404.502772
2024-04-04,2911.014364,56354.743377,8428.712598,8112.208964,2076.868715,9323.135586
2024-04-05,2916.177075,57349.203040,8395.348808,8143.445757,2080.881137,9423.118936

In [16]:
cotacoes.loc[cotacoes.index.year.isin(pesos.index)]

,U.S Universal,S&P 500,World ex-USA,Emerging Markets,Global Agg. Ex-USA,S&P Small Cap 600
Data,,,,,,
2019-01-02,2099.363061,19261.050882,4117.700550,4810.983114,1775.776791,4279.923054
2019-01-03,2060.162771,18345.199817,4022.735616,4667.699191,1745.348061,4103.105918
2019-01-04,2049.924604,18946.895240,4079.933237,4733.438935,1743.247622,4242.256115
2019-01-07,2019.820813,18793.265537,4061.735766,4724.055906,1719.618242,4237.535657
2019-01-08,2026.036249,19050.641111,4102.442456,4730.870470,1720.836885,4317.638645
...,...,...,...,...,...,...
2024-04-01,2922.009670,57725.186132,8423.209608,8102.483678,2078.845254,9572.943576
2024-04-02,2914.739471,57228.582406,8380.242420,8145.083692,2069.627485,9395.068227
2024-04-03,2904.245513,57050.224053,8372.481236,8069.317354,2066.610533,9404.502772
2024-04-04,2911.014364,56354.743377,8428.712598,8112.208964,2076.868715,9323.135586
2024-04-05,2916.177075,57349.203040,8395.348808,8143.445757,2080.881137,9423.118936