<a href="https://colab.research.google.com/github/Edu-Moreira/Estudos-de-Python/blob/main/Leitura_Dados_do_git.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [12]:
from google.colab import files
uploaded = files.upload()

Saving Dados .xlsx to Dados .xlsx

In [14]:
import io
df = pd.read_excel(io.BytesIO(uploaded['Dados .xlsx']))
df

,Unnamed: 0,Unnamed: 1,Data,Ano,Unnamed: 4,USD LC07TRUU,USD SPTR,USD M1CXBRU,USD MIMUEMRN,USD LG38TRUU,USD SPTRSMCP
0,.,1.0,1998-12-31,1998,NaN,212.0865,1670.006,477.68,267.04001,244.2719,186.094
1,.,1.0,1999-01-04,1999,NaN,212.0641,1668.521,486.52,270.20279,244.2719,186.094
2,NaN,2.0,1999-01-05,1999,NaN,211.8054,1691.253,489.26,272.39230,244.2719,186.094
3,NaN,3.0,1999-01-06,1999,NaN,212.1331,1729.083,496.11,278.48300,244.2719,186.094
4,NaN,4.0,1999-01-07,1999,NaN,211.7084,1725.640,494.54,279.80511,244.2719,186.094
...,...,...,...,...,...,...,...,...,...,...,...
5791,NaN,13.0,2022-01-19,2022,NaN,618.1821,9503.135,1580.24,1755.67800,491.8776,1814.072
5792,NaN,14.0,2022-01-20,2022,NaN,618.8629,9398.964,1590.57,1776.91891,493.2359,1775.668
5793,NaN,15.0,2022-01-21,2022,NaN,620.5297,9221.282,1564.14,1759.46330,493.8587,1751.425
5794,NaN,16.0,2022-01-24,2022,NaN,619.7807,9246.837,1521.55,1727.05400,492.5923,1791.098
5795,NaN,NaN,NaT,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN