<a href="https://colab.research.google.com/github/Edu-Moreira/Estudos-de-Python/blob/main/Leitura_Dados_do_git.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import io
import pandas as pd
import requests

In [ ]:
from google.colab import files
uploaded = files.upload()


df = pd.read_excel(io.BytesIO(uploaded['Dados .xlsx']))
df

Saving Dados .xlsx to Dados .xlsx

In [23]:
url= 'https://github.com/Edu-Moreira/Estudos-de-Python/raw/main/Dados/Dados%20IE.xlsx'
myfile = requests.get(url)

df=pd.read_excel(myfile.content)
print(df)

           Data  USD LC07TRUU   USD SPTR   USD M1CXBRU   USD MIMUEMRN   \
0    1998-12-31       212.0865   1670.006        477.68      267.04001
1    1999-01-04       212.0641   1668.521        486.52      270.20279
2    1999-01-05       211.8054   1691.253        489.26      272.39230
3    1999-01-06       212.1331   1729.083        496.11      278.48300
4    1999-01-07       211.7084   1725.640        494.54      279.80511
...         ...            ...        ...           ...            ...
5790 2022-01-18       616.7014   9595.926       1588.46     1758.11600
5791 2022-01-19       618.1821   9503.135       1580.24     1755.67800
5792 2022-01-20       618.8629   9398.964       1590.57     1776.91891
5793 2022-01-21       620.5297   9221.282       1564.14     1759.46330
5794 2022-01-24       619.7807   9246.837       1521.55     1727.05400

      USD LG38TRUU  USD SPTRSMCP
0         244.2719        186.094
1         244.2719        186.094
2         244.2719        186.094
3         244.2719        186.094
4         244.2719        186.094
...            ...            ...
5790      491.6966       1846.166
5791      491.8776       1814.072
5792      493.2359       1775.668
5793      493.8587       1751.425
5794      492.5923       1791.098

[5795 rows x 7 columns]

In [27]:
df.rename(columns= {'Data': 'Date'}, inplace = True)
df

,Date,USD LC07TRUU,USD SPTR,USD M1CXBRU,USD MIMUEMRN,USD LG38TRUU,USD SPTRSMCP
0,1998-12-31,212.0865,1670.006,477.68,267.04001,244.2719,186.094
1,1999-01-04,212.0641,1668.521,486.52,270.20279,244.2719,186.094
2,1999-01-05,211.8054,1691.253,489.26,272.39230,244.2719,186.094
3,1999-01-06,212.1331,1729.083,496.11,278.48300,244.2719,186.094
4,1999-01-07,211.7084,1725.640,494.54,279.80511,244.2719,186.094
...,...,...,...,...,...,...,...
5790,2022-01-18,616.7014,9595.926,1588.46,1758.11600,491.6966,1846.166
5791,2022-01-19,618.1821,9503.135,1580.24,1755.67800,491.8776,1814.072
5792,2022-01-20,618.8629,9398.964,1590.57,1776.91891,493.2359,1775.668
5793,2022-01-21,620.5297,9221.282,1564.14,1759.46330,493.8587,1751.425
5794,2022-01-24,619.7807,9246.837,1521.55,1727.05400,492.5923,1791.098

In [34]:
df_benchmark  = df[['Date','USD LG38TRUU']]

<bound method NDFrame.pct_change of            Date  USD LG38TRUU
0    1998-12-31      244.2719
1    1999-01-04      244.2719
2    1999-01-05      244.2719
3    1999-01-06      244.2719
4    1999-01-07      244.2719
...         ...           ...
5790 2022-01-18      491.6966
5791 2022-01-19      491.8776
5792 2022-01-20      493.2359
5793 2022-01-21      493.8587
5794 2022-01-24      492.5923

[5795 rows x 2 columns]>