<a href="https://colab.research.google.com/github/Edu-Moreira/Estudos-de-Python/blob/main/Mercado_Global.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Utilizando biblioteca TVDataFeed para busca no TradingView**

In [1]:
!pip install --upgrade --no-cache-dir git+https://github.com/StreamAlpha/tvdatafeed.git

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/StreamAlpha/tvdatafeed.git
  Cloning https://github.com/StreamAlpha/tvdatafeed.git to /tmp/pip-req-build-mp2g35rv
  Running command git clone --filter=blob:none --quiet https://github.com/StreamAlpha/tvdatafeed.git /tmp/pip-req-build-mp2g35rv
  Resolved https://github.com/StreamAlpha/tvdatafeed.git to commit a7034f04509b67224618917c29272796e4fff858
  Preparing metadata (setup.py) ... done
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from tvdatafeed==2.1.0) (57.4.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from tvdatafeed==2.1.0) (1.3.5)
Collecting websocket-client
  Downloading websocket_client-1.5.1-py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.9/55.9 KB 4.1 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from tvdatafeed==2.1.0) (2.25.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->tvdatafeed==2.1.0) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->tvdatafeed==2.1.0) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->tvdatafeed==2.1.0) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->tvdatafeed==2.1.0) (1.26.14)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->tvdatafeed==2.1.0) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->tvdatafeed==2.1.0) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->tvdatafeed==2.1.0) (2022.12.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->tvdatafeed==2.1.0) (1.15.0)
Building wheels for collected packages: tvdatafeed
  Building wheel for tvdatafeed (setup.py) ... done
  Created wheel for tvdatafeed: filename=tvdatafeed-2.1.0-py3-none-any.whl size=7570 sha256=237bad0d5717eb5b3a49baa73ef7054e94eb3456d81f077ec795ba964ec8a6a1
  Stored in directory: /tmp/pip-ephem-wheel-cache-dx8f9jq6/wheels/61/5f/7d/953ab2e3eaea9db6badc898aec3ff220779870e60932341e72
Successfully built tvdatafeed
Installing collected packages: websocket-client, tvdatafeed
Successfully installed tvdatafeed-2.1.0 websocket-client-1.5.1

In [2]:
import pandas as pd
from tvDatafeed import TvDatafeed, Interval

from datetime import date

In [3]:
username = 'YourTradingViewUserName'
password = 'YourTradingViewPassword'

# É possível coletar os dados sem fornecer dados de usuário e senha

tv = TvDatafeed(username,password)

ERROR:tvDatafeed.main:error while signin
WARNING:tvDatafeed.main:you are using nologin method, data you access may be limited

#####Será coletado dados de mercado como juros, câmbio e principais índices de ações para os sequintes países:

- Zona do Euro 
- Estados Unidos
- China
- Brasil
- India
- Russia
- Africa do Sul
- Alemanha
- França
- Reino Unido
- Mexico

Começando com Brasil juros para os vencimentos com ticker BR01Y, BR02Y, BR05Y E BR10Y

In [32]:
verticesbr= ['BR01Y','BR02Y','BR05Y','BR10Y']
verticesus= ['US01Y','US02Y','US05Y','US10Y']
verticescn=['CN01Y','CN02Y','CN05Y','CN10Y']
verticeseu=['EU01Y','EU02Y','EU05Y','EU10Y']
verticesin=['IN01Y','IN02Y','IN05Y','IN10Y']
verticesde=['DE01Y','DE02Y','DE05Y','DE10Y']

In [37]:

#### Busca o histórico dos juros e formata o DataFrame para incluir o nome do País e unificar o nome das colunas

painelBR = pd.DataFrame()
for i in verticesbr:
  painelBR[i] = tv.get_hist(i,'TVC',Interval.in_daily,750)['close']
painelBR['País'] = 'Brasil'
painelBR = painelBR.dropna()
painelBR.columns = ['1 Ano','2 Anos','5 Anos','10 Anos','Pais']
  
painelUS = pd.DataFrame()
for i in verticesus:
  painelUS[i] = tv.get_hist(i,'TVC',Interval.in_daily,750)['close']
painelUS['País'] = 'Estados Unidos'
painelUS = painelUS.dropna()
painelUS.columns = ['1 Ano','2 Anos','5 Anos','10 Anos','Pais']

painelCN = pd.DataFrame()
for i in verticescn:
  painelCN[i] = tv.get_hist(i,'TVC',Interval.in_daily,750)['close']
painelCN['País'] = 'China'
painelCN = painelCN.dropna()
painelCN.columns = ['1 Ano','2 Anos','5 Anos','10 Anos','Pais']

painelEU = pd.DataFrame()
for i in verticeseu:
  painelEU[i] = tv.get_hist(i,'TVC',Interval.in_daily,750)['close']
painelEU['País'] = 'Zona do Euro'
painelEU = painelEU.dropna()
painelEU.columns = ['1 Ano','2 Anos','5 Anos','10 Anos','Pais']

painelIN = pd.DataFrame()
for i in verticesin:
  painelIN[i] = tv.get_hist(i,'TVC',Interval.in_daily,750)['close']
painelIN['País'] = 'India'
painelIN = painelIN.dropna()
painelIN.columns = ['1 Ano','2 Anos','5 Anos','10 Anos','Pais']

painelDE = pd.DataFrame()
for i in verticesde:
  painelDE[i] = tv.get_hist(i,'TVC',Interval.in_daily,750)['close']
painelDE['País'] = 'Alemanha'
painelDE = painelDE.dropna()
painelDE.columns = ['1 Ano','2 Anos','5 Anos','10 Anos','Pais']

In [38]:
painelBR

                      1 Ano  2 Anos  5 Anos  10 Anos    Pais
datetime
2020-04-06 21:00:00   3.560   4.887   6.800    7.790  Brasil
2020-04-07 21:00:00   3.520   4.887   7.020    8.090  Brasil
2020-04-08 21:00:00   3.420   4.887   6.580    7.590  Brasil
2020-04-09 21:00:00   3.400   4.887   6.580    7.620  Brasil
2020-04-12 21:00:00   3.380   4.887   6.640    7.680  Brasil
...                     ...     ...     ...      ...     ...
2023-02-26 22:00:00  13.254  13.268  12.968   13.297  Brasil
2023-02-27 22:00:00  13.285  13.300  12.950   13.310  Brasil
2023-02-28 22:00:00  13.331  13.335  13.050   13.480  Brasil
2023-03-01 22:00:00  13.243  13.335  13.071   13.480  Brasil
2023-03-02 22:00:00  13.266  13.334  13.231   13.644  Brasil

[723 rows x 5 columns]

In [39]:
jurosglb = pd.concat([painelBR,painelUS,painelCN,painelEU,painelIN,painelDE])

In [40]:
jurosglb

                     1 Ano  2 Anos  5 Anos  10 Anos      Pais
datetime
2020-04-06 21:00:00  3.560   4.887   6.800    7.790    Brasil
2020-04-07 21:00:00  3.520   4.887   7.020    8.090    Brasil
2020-04-08 21:00:00  3.420   4.887   6.580    7.590    Brasil
2020-04-09 21:00:00  3.400   4.887   6.580    7.620    Brasil
2020-04-12 21:00:00  3.380   4.887   6.640    7.680    Brasil
...                    ...     ...     ...      ...       ...
2023-02-26 22:00:00  3.118   3.058   2.662    2.581  Alemanha
2023-02-27 22:00:00  3.186   3.125   2.721    2.639  Alemanha
2023-02-28 22:00:00  3.227   3.222   2.833    2.731  Alemanha
2023-03-01 22:00:00  3.244   3.230   2.850    2.755  Alemanha
2023-03-02 22:00:00  3.271   3.220   2.834    2.716  Alemanha

[4399 rows x 5 columns]